Repository flataex/sqlp-study, pull requests merged in 2023-04, with the labels that each got.

#8 1주차 내용정리 - 김종훈
  제01장 데이터 모델링의 이해/jhkim/README.md
  제02장 데이터 모델과 SQL/jhkim/README.md
Labels: 제 1장 데이터 모델링의 이해, 제 2장 데이터 모델과 SQL

#6 1주차 - 1, 2장 내용 정리
  제01장 데이터 모델링의 이해/bghan/README.md
  제01장 데이터 모델링의 이해/bghan/imgs/1.png
  제01장 데이터 모델링의 이해/bghan/imgs/2.png
  제01장 데이터 모델링의 이해/bghan/imgs/3.png
  제01장 데이터 모델링의 이해/bghan/imgs/4.png
  제01장 데이터 모델링의 이해/bghan/imgs/5.png
  제01장 데이터 모델링의 이해/bghan/imgs/6.png
  제02장 데이터 모델과 SQL/bghan/README.md
  제02장 데이터 모델과 SQL/bghan/imgs/1.png
  제02장 데이터 모델과 SQL/bghan/imgs/2.png
Labels: 제 1장 데이터 모델링의 이해, 제 2장 데이터 모델과 SQL

#15 과목2 1장 내용정리
  [과목1] 제01장 데이터 모델링의 이해/jepark/README.md
  [과목1] 제02장 데이터 모델과 SQL/jepark/README.md
  [과목2] 제01장 SQL 기본/jepark/README.md
  [과목2] 제01장 SQL 기본/jepark/img/1.png
  [과목2] 제01장 SQL 기본/jepark/img/2.png
  [과목2] 제01장 SQL 기본/jepark/img/3.png
Labels: [과목 2] 제 1장 SQL 기본

#12 docs: 과목2 1장 SQL 기본 내용 정리
  [과목2] 제01장 SQL 기본/bghan/README.md
  [과목2] 제01장 SQL 기본/bghan/imgs/1.png
Labels: [과목 2] 제 1장 SQL 기본

#19 docs: [과목2] 제 3장 관리구문 정리
  [과목2] 제03장 관리 구문/jhkim/README.md
Labels: [과목 2] 제 3장 관리 구문

#17 docs: 과목2 3장 관리 구문 내용 정리
  [과목2] 제03장 관리 구문/bghan/README.md
  [과목2] 제03장 관리 구문/bghan/img/1.png
  [과목2] 제03장 관리 구문/bghan/img/2.png
Labels: [과목 2] 제 3장 관리 구문
